# SPDX-FileCopyrightText: 2025 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

# IDEs
.idea/
.vscode
.classpath
.project
.settings/
*.iml

# MacOS
.DS_Store

# Java Class Files
*.class

# Package Files
*.jar
*.war
*.ear
*.zip

# Maven
target/
/.mvn
/.maven
/.repository
/artifacts
.flattened-pom.xml

#Other files
consul_token

# Application log files
*.log

carbonio-catalog-quarkus.tar.gz
