[Unit]
Description=Carbonio Catalog daemon
Wants=network.target
Requires=network-online.target
After=network-online.target
PartOf=carbonio-mta.target

[Service]
Type=simple
ExecStart=/usr/bin/carbonio-catalog
User=carbonio-catalog
Group=carbonio-catalog
Restart=on-failure
RestartSec=15
TimeoutSec=60
TimeoutStopSec=120

[Install]
WantedBy=carbonio-mta.target
