[Unit]
Description=Carbonio Catalog Daemon
Wants=network.target
Requires=network-online.target
After=network-online.target
PartOf=carbonio-appserver.target carbonio-directory-server.target carbonio-mta.target carbonio-proxy.target

[Service]
Slice=carbonio.slice
Type=simple
ExecStart=/usr/bin/carbonio-catalog
User=carbonio-catalog
Group=carbonio-catalog
Restart=on-failure
RestartSec=15s
TimeoutSec=60
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
