[Unit]
Description=Carbonio Catalog Daemon
Wants=network.target
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/carbonio-catalog
User=carbonio-catalog
Group=carbonio-catalog
Restart=on-failure
RestartSec=15s
TimeoutSec=60s
TimeoutStopSec=120s

[Install]
WantedBy=multi-user.target
